<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>HomeSrviceAdminLogin</display-name>
	<welcome-file-list>
		<welcome-file>HomeService1stPage.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>AdminLoginServlet</servlet-name>
		<servlet-class>AdminLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminLoginServlet</servlet-name>
		<url-pattern>/AdminLoginServlet</url-pattern>
	</servlet-mapping>
</web-app>